<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>


<%= simple_form_for([@cocktail,@dose]) do |d| %>
  <%= d.error_notification %>

  <%= d.input :ingredient_id, collection: Ingredient.all %>
  <%= d.input :description, label: "Description (e.g. 5 cl)" %>

  <%= d.button :submit %>
<% end %>